/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

/*
	BARVY
	sede pozadi      #e5e5e5
	svetle fialova   #48418e
	tmave fialova    #25133d

	POUZITE PISMO
	Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
	https://fonts.google.com/specimen/Roboto
	Písmo už je v HTML nalinkované a v CSS nastavené pro body.
*/

body {
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.obal {
  /* obsah stránky je omezený do pruhu širokého 960px */
  width: 960px;

  /* pruh je na stránce vycentrovaný */
  margin: 0 auto;

  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */
.horni-lista {
  display: flex;
}

.aplikace {
  text-decoration: none;
  font-weight: bold;
  padding: 15px 30px;
  margin: 0;
  color: #25133d;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.menu__polozka {
  display: block;
  padding: 15px 30px;
  margin: 0;
  text-decoration: none;
  color: #25133d;
}

.menu__polozka:hover {
  background-color: #48418e;
  color: white;
}

.obrazek {
  margin: 0;
  padding: 30px;
  min-height: 450px;
  background-image: url(images/pozadi.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  position: relative;
}

.obrazek__nazev {
  font-size: 90px;
  font-weight: 400;
  margin: 0;
}

.obrazek__podnazev {
  font-size: 36px;
  font-weight: 300;
}

.obrazek__tlacitka {
  display: flex;
  padding-bottom: 30px;
}

.obrazek__tlacitko--fialove,
.obrazek__tlacitko {
  display: block;
  padding: 15px 30px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}

.obrazek__tlacitko--fialove {
  margin-right: 30px;
  background-color: #48418e;
}

.obrazek__tlacitko--fialove:hover,
.obrazek__tlacitko:hover {
  background-color: #25133d;
}

.obrazek__telefon {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.detail {
  display: flex;
}

.sloupec__ikona {
  width: 60px;
}

.sloupec__nadpis {
  font-size: 20px;
  font-weight: 700;
  color: #48418e;
}

.sloupec {
  text-align: center;
  padding: 30px;
}

.paticka {
  background-color: #48418e;
  color: white;
  text-align: center;
  line-height: 3;
}
